h1 {
  font-family: "Outfit", Zalando Sans Expanded;
  font-optical-sizing: auto;
  font-size: 50px; 
  font-style: normal;
  text-align: center;
  color: rgb(253, 242, 83);
}
h4 {
  font-family: "Outfit", Zalando Sans Expanded;
  font-optical-sizing: auto;
  font-size: 50;
  font-style: normal;
  text-align: left;
  color: rgb(107, 2, 2);
}
h5 {
  font-family: "Outfit", Yeseva One;
  font-optical-sizing: auto;
  font-size: 70;
  font-style: normal;
  text-align: right;
  color: rgb(107, 2, 2);
  margin: 0!important;
  padding: 0!important;
  
}
p {
  font-family: "Outfit", Zalando Sans Expanded;
  font-optical-sizing: auto;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  color: rgb(227, 226, 144);
}
h3 {
  font-family: "Outfit", Zalando Sans Expanded;
  font-optical-sizing: auto;
  font-weight: 27px;
  font-style: normal;
  text-align: right;
  font-size: 27px;
  color: rgb(155, 3, 3);
}
title{
  font-family: "Outfit", Bitcount Ink;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
  color: white;
}
.container {
  display: flex;
  flex-direction: row;
}
body{
    background-color: rgb(227, 250, 144);
    background-blend-mode: color-burn;
    padding: 0%;
    margin: 0;
}
.inicio{
    background-color: rgb(221, 3, 3);
    border: 0;
    text-decoration-color: black;
}
.imgonu{
    width: 350px;
    height: 350px;
    float: left;
    margin-right: 15px;
border: #830202;
}
.h4{
   color: #830202;
   flex-direction: row;
   text-align: center;
   width: 30px;
   height: 30px;
   margin: 0;
   padding: 0%!important;
}
.header h4{
  text-align: center!important;
}
.imgwoman{
    width: 400px;
    height: 400px;
    float: left;
    margin-right: 15px;
}
.counting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 24px;
}
.counted {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 24px;
}

.sizeimg{
  width: 80px;
  height: 80px;
}

.divisao{
  background-color: rgb(221, 3, 3);
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}
.imgbabe{
    width: 400px;
    height: 400px;
    float: right;
    margin-right: 15px;
}

li{
  font-size: 40px;
  font-family: Zalando Sans Expanded;
  color: #830202;
}